@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #D96601;
  --color-primary-dark: #ffffffff;
  --color-primary-highlight: #D96601;
  --color-text-on-primary: #000000ff;
  --color-secondary: #18181B;
  --color-background: #09090b;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}

/* Hide scrollbar for carousel but allow functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}